.menu{
    ul{
        display: flex;
        justify-content: center;
        li{
            border: 1px solid #DCDCDC;
            border-bottom: 1px solid #DCDCDC;
            width: calc( 100% / 3 );
            &:nth-of-type(2){
                border-right: none;
                border-left: none;
            }
        } 

    }
}

.menu{
    .category{
        display: block;
        text-align: center;
        padding-top: 24px;
        @include font-Roboto(32px,500,$Black);
        @include pad{
            padding-top: 16px;
        }
        &::after{
            content:"";
            display: block;
            padding-top: 15px;
            border-bottom:8px solid $BrightRed;
            transform: scale(0);
            transition: transform 0.5s ease-in-out;
            @include pad{
                padding-top: 7px;
            }
        }
        &.active::after,
        &:hover::after{
            transform: scale(1);
        }
        @include pad{
            @include font-Roboto(24px,500,$Black);
        }
        @include mobile{
            margin-top: 80px;
            @include font-Roboto(16px,500,$Black);
        }
    }
}

.banner__product{
    display: flex;
    &__img{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 296px;
        width: 50%;
        @include mobile{
            height: 136px;
        }
    }
    .img1{
        background-image: url("../images/product-header-1.png");
    }
    .img2{
        background-image: url("../images/product-header-2.png");
    }
    .img3{
        background-image: url("../images/product-header-3.png");
    }
    .img4{
        background-image: url("../images/product-header-4.png");
    }
    @include pad{
        .img1{
            background-image: url("../images/product-header-sm-1.png");
        }
        .img2{
            background-image: url("../images/product-header-sm-2.png");
        }
        .img3{
            background-image: url("../images/product-header-sm-3.png");
        }
        .img4{
            background-image: url("../images/product-header-sm-4.png");
        }
    }
}


.products{
    padding-top: 80px;
    padding-bottom: 80px;
    @include mobile{
        padding-top: 40px;
        padding-bottom: 64px;
    }
    .title{
        text-align: center;
        @include font-Roboto(42px,500,$Black);
        @include mobile{
            @include font-Roboto(24px,500,$Black);
        }
    }
    .sub-title{
        text-align: center;
        @include font-Noto(32px,500,$Black);
        margin-bottom: 32px;
        @include mobile{
            @include font-Roboto(24px,500,$Black);
            margin-bottom: 24px;
        }
    }
    &__content{
        width: inherit;
        display: flex;
        column-gap: 24px;
        flex-wrap: wrap;
        row-gap: 80px;
        @include pad{
            row-gap: 40px;
        }
    }
}

.productType-four-items{
    width: calc((100% - 72px) / 4 );
}

.productType-three-items{
    width: calc((100% - 72px) / 3 );
}

.productType-four-items,
.productType-three-items{
    @include pad{
        width: calc((100% - 24px) / 2 );
    }
    @include mobile{
        width: 100%;
    }
}

.product__img{
    max-width: 100%;
    display: block;
    height: auto;
}

.product{
    .detail{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .model{
            @include font-Roboto(24px,500,$Black);
        }
        .price{
            @include font-Roboto(24px,500,$BrightRed);
        }
    }
    .colors{
        display: flex;
        .color1,
        .color2{
            width: 24px;
            height: 24px;
            border-radius: 4px;
        }
        .color1{
            background-color: #5F3E2D;
            margin-right: 8px;
        }
        .color2{
            background-color: #B75929;
        }
    }
}
