// index
.banner{
    height: calc( 100vh - 80px );
    background-image: url("../images/home-header.png");
    background-position: center center;
    background-size: cover;
    @include pad{
        background-image: url("../images/home-header-sm.png");
    }
    @include mobile{
        height: 476px;
    }
    &__description{
        height: calc( 100vh - 80px );
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        .title{
            @include font-Noto(64px,700,$Lonestar);
        }
        .sub-title{
            @include font-Roboto(36px,500,$Lonestar);
        }
        .link{
            display: inline-block;
            background-color: $BrightRed;
            padding: 6px 12px;
            margin-top: 4px;
            @include font-Noto(20px,500);
        }
        @include mobile{
            .title{
                @include font-Noto(24px,700,$Lonestar);
            }
            .sub-title{
                @include font-Roboto(16px,500,$Lonestar);
            }
        }
    }
}

.serviceInfo{
    background: $Fantasy;
    padding-top: 80px;
    padding-bottom: 80px;
    @include mobile{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .title{
        text-align: center;
        margin-bottom: 24px;
        @include font-Noto(48px,700,$Lonestar);
        @include mobile{
            @include font-Noto(24px,700,$Lonestar);
        }
    }
    &__content{
        display: flex;
        column-gap: 24px;
        justify-content: space-between;
        text-align: center;
        .iconImg{
            width: 84px;
        }
        .sub-title{       
            @include font-Noto(24px,700,$Lonestar);
            margin-top: 16px;
            margin-bottom: 8px;
        }
        .text{
            text-align: left;
            @include font-Noto(16px,500,$Black);
        }
        @include pad{
            flex-wrap: wrap;
            gap: 24px;
            .item{
                width: calc(( 100% - 24px) / 2);
            }
        }
        @include mobile{
            .item{
                width: 100%;
            }
        }
    }
}

.productType{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    .title{ 
        @include font-Noto(48px,700,$Lonestar);
        margin-bottom: 48px; 
        @include mobile{
            @include font-Noto(24px,700,$Lonestar);
            margin-bottom: 24px; 
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        gap: 24px;
        .sub-title{       
            font-style: italic;
            @include font-Noto(48px,700,$BrightRed);
            @include mobile{
                @include font-Noto(24px,700,$BrightRed); 
            }
        }
        .item{
            max-width: calc( (100% - 72px )/3 );
        }
        @include pad{
            flex-wrap: wrap;
            justify-content: center;
            .item{
                max-width: 50%;
            }
        }
        @include mobile{
            flex-wrap: wrap;
            justify-content: center;
            .item{
                max-width: 100%;
            }
        }
    }
    .productTypeImg{
        display: block;
        max-width: 100%;
        margin-bottom: 8px;
    }
}

.jointNameDesign{
    background-image: url("../images/index-bg.png");
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    .title{ 
        @include font-Noto(48px,700,white);
        margin-bottom: 48px;
    }
    @include mobile{
        padding-top: 40px;
        padding-bottom: 40px;
        .title{ 
            @include font-Noto(24px,700,white);
            margin-bottom: 24px;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        .sub-title{       
            font-style: italic;
            background: white;
            padding-top: 8px;
            padding-bottom: 8px;
            @include font-Noto(48px,700,$BrightRed);
        }
        @include pad{
            flex-wrap: wrap;
            gap: 24px;
        }
    }
    &Img{
        display: block;
        max-width: 100%;
        height: auto;
        @include pad{
            max-width: 100%;
        }
        @include mobile{
            display: none;
        }
        &.img-sm{
            display: none;
            @include mobile{
                display: block;
            }
        }
    }
}

.customorRecommend{
    padding-top: 80px;
    padding-bottom: 80px;
    .title{ 
        text-align: center;
        @include font-Noto(48px,700,$Lonestar);
        margin-bottom: 48px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
    @include pad{
        &__content{
            flex-wrap: wrap;
        }
    }
}

.customorRecommend{  
    .customor{
        background-color: white;
        box-shadow: 0px 2px 6px #00000029;
        border: 1px solid #DEE2E6;
        border-radius: 4px;
        &Img{
            display: block;
            max-width: 100%;
            height: auto;
        }
        &Txt{
            max-width: 100%;
            height: 205px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include font-Noto(16px,500,$Black);
            .name{
                margin-bottom: 8px
            }
        }
        .date{
            @include font-Noto(14px,500,$DoveGray);
        }
    }
    @include pad{
        .customor{
            width: calc(( 100% - 24px) / 2);
        }
    }
    @include mobile{
        .customor{
            width: 100%;
        }
    }
}

.contactUs{
    background: $Fantasy;
    padding-top: 80px;
    padding-bottom: 80px;
    @include mobile{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__description{
        @include font-Noto(20px,500,$Black);
        margin: 24px auto;
        @include pad{
            @include font-Noto(16px,500,$Black);
        }
    }
    .title{ 
        text-align: center;
        @include font-Noto(48px,700,$Lonestar);
        @include mobile{
            @include font-Noto(24px,700,$Lonestar);
        }
    }
}

.form__content{
    width: 636px;
    margin: 0 auto;
    @include pad{
        width: 576px;
    }
    @include mobile{
        width: 100%;
    }
    .form{
        &__text{
            @include font-Noto(16px,500,$Black);
            display: inline-block;
            margin-bottom: 8px;
        }
        &__input,
        &__textarea{
            background: #FBF2F2;
            border: 1px solid $Black;
            padding: 6px 12px;
            width: 100%;
            margin-bottom: 16px;
            outline: none;
            @include font-Noto(16px,500,$Black);
            &:focus{
                box-shadow: 0px 0px 2px $Lonestar;
            }
        }
        &__textarea{
            height: 136px;
        }
        .check{
            display: flex;
            align-items: flex-start;
            gap: 4px;
            @include font-Noto(16px,500,$Black);
            input[type=checkbox]{
                width: 24px;
                height: 24px;
            }
        }
        .submitBtn{
            display:block;
            border: none;
            background-color: $BrightRed;
            padding: 16px;
            width: 416px;
            cursor: pointer;
            margin: 48px auto 0;
            @include font-Noto(16px,700);
            &:hover{
                background-color: lighten($BrightRed,5%);
            }
            @include pad{
                width: 336px;
            }
            @include mobile{
                margin: 24px auto 0;
                width: 100%;
            }
        }
    }
}




.productType__content{
    .item{
        transition: all 0.3s;
        &:hover .productTypeImg,
        &:hover .sub-title{
            transform: scale(1.01);
        }
        &:hover .sub-title{
            background-color: $BrightRed;
            color: white;
            opacity: 0.7;
        }
    }
}



.jointNameDesign__item{
    position: relative;
}

.jointNameDesign__item:hover .img--hover-bgWhite::before{
    opacity: 0.4;
}

.img--hover-bgWhite::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(white, transparent);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}































































@media (max-width: 768px){
    
}





