@mixin font-Noto($size:16px,$weight: 500,$color: white){
    font-family: 'Noto Sans TC', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin font-Roboto($size: 16px,$weight: 500,$color: white){
    font-family: 'Roboto', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin page_title{
    @include font-Noto(48px,700,$Black);
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    @include mobile{
        @include font-Noto(24px,700,$Black);
    }
}